header{
    background-color: $backgroundHeader;
    #navbarSupportedContent{
        ul{
            li{
                a{
                    font-weight: bolder;
                    color: black;
                    &:hover{
                    font-weight: bolder;
                    font-size: 1rem;
                    color: $marronLinks;
                    }
                }
            }
        }
        div{
            a{
                img{
                    width: 32px;
                    height: 32px;
                }
            }
        }
    }
}