@mixin quitarEstilosLista($estiloLista, $decoracion){
    list-style: $estiloLista;
    text-decoration: $decoracion;
}

@mixin estiloH2($paddingTop, $paddingBotom, $alto){
    padding-top: $paddingTop;
    padding-bottom: $paddingBotom;
    height: $alto;
}

@mixin estiloH3($paddingTop, $paddingBotom, $alto){
    padding-top: $paddingTop;
    padding-bottom: $paddingBotom;
    height: $alto;
}

@mixin estiloLinks($decoracionText, $fontWeight, $color, $fontWeightHover, $fontSizeHover, $colorHover){
    text-decoration: $decoracionText;
    font-weight: $fontWeight;
    color: $color;
    font-weight: $fontWeightHover;
    font-size: $fontSizeHover;
    color: $colorHover;

}